/* unvisited link */
body {
  font-family: 'Poppins', sans-serif; }

a:link {
  color: black; }

/* visited link */
a:visited {
  color: black; }

/* mouse over link */
a:hover {
  color: hotpink; }

/* selected link */
a:active {
  color: blue; }

* {
  margin: 0px;
  padding: 0px; }

header, footer {
  color: white;
  padding: 0px; }

.logo {
  width: 200px; }

.destacado {
  color: #180248;
  font-weight: bold; }

.destacado2 {
  font-weight: bold; }

.boton, .boton--enviar, .boton--cancelar {
  width: 100px;
  height: 50px;
  background-color: pink;
  text-align: center;
  color: black;
  border-radius: 5px;
  border: 1px solid black; }

.boton--enviar {
  height: 40px;
  background-color: #d3464d; }

.boton--cancelar {
  height: 40px;
  background-color: #d3464d; }

.plano {
  width: 300px;
  height: 400px; }

.red {
  color: red; }

.blue {
  color: blue; }

.pink {
  color: pink; }

.purple {
  color: purple; }

.nav {
  background-color: grey;
  height: 80px;
  color: aliceblue; }

.nav_container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }

.nav_logo {
  font-size: 1.5rem;
  width: 120px;
  height: 80px; }

.nav_img {
  width: 40px;
  height: 40px; }

.nav_menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em; }

.nav_item {
  color: aliceblue;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%); }

.nav_item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

.nav_item::after {
  content: "";
  display: block;
  background: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .5s; }

.nav_label, .nav_input {
  display: none; }

@media (max-width: 700px) {
  .nav_label {
    display: block;
    cursor: pointer; }
  .nav_menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .nav_input:checked + .nav_menu {
    background-color: #c25441;
    clip-path: circle(100% at center); } }
