* {
    margin: 0px;
    padding: 0px;
}

header, footer
    {
        color:white;
        padding: 0px;
    }

.logo {
    width: 200px;
}

.destacado
    {
        color: $color_secundario;
        font-weight: bold;
    }

.destacado2
    {
        font-weight: bold;
    }